In [161]:
import pandas as pd
import os
from pathlib import Path
import missingno as msno
import matplotlib.pyplot as plt
import itertools
from itertools import product

Several data sets need to be cleaned and merged.  School mean SAT & PSAT scores for each year are in separate .xlsx files.  Scores disaggregated by desired demographic indicators are in another set .xlsx files also separated by year.

### 2018 data wrangling

In [162]:
# Filenames & paths
# Just do 2018 data for now.  COVID affected other years

filepath_agg = '../raw_data/aggregated/'
filepath_disagg = '../raw_data/disaggregated/'

file_2017_agg = '2017 SAT PSAT District and School Overall Results_final.xlsx'
file_2018_agg = '2018 PSAT and SAT District and School Summary Achievement Results_FINAL.xlsx'


file_2017_disagg = '2017 SAT PSAT10 Disaggregated Report Formatted.xlsx'
file_2018_disagg = '2018 PSAT and SAT State Achievement Results Disaggregated by Subgroups.xlsx'

In [163]:
###  Longest runtime ###

# Files all have different formats

# Agg data is all on one sheet in xlsx file.
df_2017_agg_raw = pd.read_excel(filepath_agg + file_2017_agg)
df_2018_agg_raw = pd.read_excel(filepath_agg + file_2018_agg)

df_2017_disagg_raw = pd.read_excel(filepath_disagg + file_2017_disagg)
# Disaggregated data for 2018 is split into separate sheets in xlsx file.
# Create dict of df's for each set of disagg data
dict_2018_disagg_raw = pd.read_excel(filepath_disagg + file_2018_disagg, sheet_name=None)

In [164]:
# Drop rows with descriptive text
df_2017_agg = df_2017_agg_raw.drop(df_2017_agg_raw.index[0:4])
df_2018_agg = df_2018_agg_raw.drop(df_2018_agg_raw.index[0:3])

In [165]:
# Set columns headers as first row containing Test, District Number, District Name, etc.
df_2017_agg.columns = df_2017_agg.iloc[0]
df_2018_agg.columns = df_2018_agg.iloc[0]

In [166]:
# Drop first row containing the column headers
df_2017_agg = df_2017_agg.drop(df_2017_agg.index[0])
df_2018_agg = df_2018_agg.drop(df_2018_agg.index[0])

In [167]:
## 2017 data
# Assign state & district results to their own dataframes respectively (if they exist)
state_2017_agg = df_2017_agg.loc[df_2017_agg['School Name'] == 'STATE RESULTS']
district_2017_agg = df_2017_agg.loc[df_2017_agg['School Name'] == 'DISTRICT RESULTS']

# Drop those & create new dataframe of school only data
# Note: There's something weird with the school districts here.  BOCES?
schools_2017_agg = df_2017_agg[(df_2017_agg['School Name'] != 'STATE RESULTS') & (df_2017_agg['School Name'] != 'DISTRICT RESULTS')]


## 2018 data
# Assign state & district results to their own dataframes respectively (if they exist)
state_2018_agg = df_2018_agg.loc[df_2018_agg['Level'] == 'STATE']
district_2018_agg = df_2018_agg.loc[df_2018_agg['Level'] == 'DISTRICT']

# Create dataframe with only school level scores
schools_2018_agg = df_2018_agg.loc[df_2018_agg['Level'] == 'SCHOOL']

# Drop some unneeded columns
schools_2018_agg = schools_2018_agg.drop(['Level','Grade'], axis = 1)

In [168]:
# Rename and reindex 2017 and 2018 data

# Rename some columns for convenience
col_names1_long = list(schools_2017_agg.columns)
col_names1_short = ['Test',
                 'District Number',
                 'District Name',
                 'School Number',
                 'School Name',
                 'Total Students',
                 '2017 Valid Scores',
                 '2017 EBRW Mean',
                 '2017 Math Mean',
                 '2017 Overall Mean',
                 '2017 Participation Percent',
                 '2016 Valid Scores',
                 '2016 EBRW Mean',
                 '2016 Math Mean',
                 '2016 Overall Mean',
                 '2016 Participation Percent',
                 'Mean Overall Score Change']
schools_2017_agg = schools_2017_agg.rename(columns = dict(zip(col_names1_long, col_names1_short)))

# Rename some columns for convenience
col_names2_long = list(schools_2018_agg.columns)
col_names2_short = ['Test',
                 'District Number',
                 'District Name',
                 'School Number',
                 'School Name',
                 'Total Students',
                 '2018 Valid Scores',
                 '2018 EBRW Mean',
                 '2018 Math Mean',
                 '2018 Overall Mean Score',
                 '2018 Participation Percent',
                 '2017 Valid Scores',
                 '2017 EBRW Mean',
                 '2017 Math Mean',
                 '2017 Overall Mean Score',
                 '2017 Participation Percent',
                 'Mean Overall Score Change']
schools_2018_agg = schools_2018_agg.rename(columns = dict(zip(col_names2_long, col_names2_short)))

# Set index to school number
#schools_2017_agg['School Number'] = schools_2017_agg['School Number'].astype(int)
#schools_2017_agg = schools_2017_agg.set_index('School Number')

#schools_2018_agg['School Number'] = schools_2018_agg['School Number'].astype(int)
#schools_2018_agg = schools_2018_agg.set_index('School Number')

In [169]:
# Trim white space
schools_2017_agg['Test'] = schools_2017_agg['Test'].str.strip()
schools_2018_agg['Test'] = schools_2018_agg['Test'].str.strip()

#### Create new dataframe aggregating all data from 2018 into a cleaner format

In [170]:
# Select only rows that have both 2017 and 2018 scores
schools_2018_agg_subset = schools_2018_agg[~schools_2018_agg['Mean Overall Score Change'].isna()]

# Drop rows using '*' to indicate missing data
schools_2018_agg_subset = schools_2018_agg_subset[~(schools_2018_agg_subset['Total Students'] == '*')]

In [171]:
###  May not be necessary ###

# Set appropriate names for each column

score_types = ['Valid Scores',
              'EBRW Mean',
              'Math Mean',
              'Overall Mean Score',
              'Participation Percent']
years_str = ['2017', '2018']
test_types = ['PSAT10', 'SAT']

score_cols = list(product(years_str, test_types, score_types))
score_cols = [year + " " + test + " " + score for year, test, score in score_cols]

all_cols = ['School Number', 'District Name', 'School Name'] + score_cols

In [172]:
schools_2018_agg_SAT = schools_2018_agg_subset.loc[schools_2018_agg_subset["Test"] == "SAT"]
schools_2018_agg_PSAT = schools_2018_agg_subset.loc[schools_2018_agg_subset["Test"] == "PSAT10"]
tests_combined_2018_agg = schools_2018_agg_SAT.merge(schools_2018_agg_PSAT, on="School Number", suffixes=(' SAT', ' PSAT10'))

In [173]:
list(tests_combined_2018.columns)

['Test SAT',
 'District Number SAT',
 'District Name SAT',
 'School Name SAT',
 'Total Students SAT',
 '2018 Valid Scores SAT',
 '2018 EBRW Mean SAT',
 '2018 Math Mean SAT',
 '2018 Overall Mean Score SAT',
 '2018 Participation Percent SAT',
 '2017 Valid Scores SAT',
 '2017 EBRW Mean SAT',
 '2017 Math Mean SAT',
 '2017 Overall Mean Score SAT',
 '2017 Participation Percent SAT',
 'Mean Overall Score Change SAT',
 'Test PSAT10',
 'District Number PSAT10',
 'District Name PSAT10',
 'School Name PSAT10',
 'Total Students PSAT10',
 '2018 Valid Scores PSAT10',
 '2018 EBRW Mean PSAT10',
 '2018 Math Mean PSAT10',
 '2018 Overall Mean Score PSAT10',
 '2018 Participation Percent PSAT10',
 '2017 Valid Scores PSAT10',
 '2017 EBRW Mean PSAT10',
 '2017 Math Mean PSAT10',
 '2017 Overall Mean Score PSAT10',
 '2017 Participation Percent PSAT10',
 'Mean Overall Score Change PSAT10']

In [174]:
# Drop duplicated &  unnecessary columns
tests_combined_2018_agg = tests_combined_2018_agg.drop(['Test PSAT10',
                                                        'Test SAT',
                                                'District Number PSAT10',
                                                'District Name PSAT10',
                                                'School Name PSAT10',
                                                        'Test PSAT10',
                                                        'Mean Overall Score Change SAT',
                                                        'Mean Overall Score Change PSAT10'
                                               ], axis = 1)

# Fix column names with unnecessary suffix
tests_combined_2018_agg.rename(columns={'Test SAT': "", "B": "b", "C": "c"}, errors="raise")

In [175]:
list(tests_combined_2018_agg.columns)

['District Number SAT',
 'District Name SAT',
 'School Number',
 'School Name SAT',
 'Total Students SAT',
 '2018 Valid Scores SAT',
 '2018 EBRW Mean SAT',
 '2018 Math Mean SAT',
 '2018 Overall Mean Score SAT',
 '2018 Participation Percent SAT',
 '2017 Valid Scores SAT',
 '2017 EBRW Mean SAT',
 '2017 Math Mean SAT',
 '2017 Overall Mean Score SAT',
 '2017 Participation Percent SAT',
 'Total Students PSAT10',
 '2018 Valid Scores PSAT10',
 '2018 EBRW Mean PSAT10',
 '2018 Math Mean PSAT10',
 '2018 Overall Mean Score PSAT10',
 '2018 Participation Percent PSAT10',
 '2017 Valid Scores PSAT10',
 '2017 EBRW Mean PSAT10',
 '2017 Math Mean PSAT10',
 '2017 Overall Mean Score PSAT10',
 '2017 Participation Percent PSAT10']

In [176]:
tests_combined_2018[tests_combined_2018['Total Students SAT'] == tests_combined_2018['Total Students PSAT10']]

3,Test SAT,District Number SAT,District Name SAT,School Name SAT,Total Students SAT,2018 Valid Scores SAT,2018 EBRW Mean SAT,2018 Math Mean SAT,2018 Overall Mean Score SAT,2018 Participation Percent SAT,...,2018 EBRW Mean PSAT10,2018 Math Mean PSAT10,2018 Overall Mean Score PSAT10,2018 Participation Percent PSAT10,2017 Valid Scores PSAT10,2017 EBRW Mean PSAT10,2017 Math Mean PSAT10,2017 Overall Mean Score PSAT10,2017 Participation Percent PSAT10,Mean Overall Score Change PSAT10
School Number,,,,,,,,,,,,,,,,,,,,,
5816,SAT,0020,ADAMS 12 FIVE STAR SCHOOLS,THORNTON HIGH SCHOOL,453,371,443,428,871,81.9,...,416,405,820,97.1,393,416,416,832,94.2,-12
1176,SAT,0190,BYERS 32J,BYERS JUNIOR-SENIOR HIGH SCHOOL,36,27,497,462,959,75.0,...,454,432,886,86.1,36,453,430,883,97.3,3
5368,SAT,0470,ST VRAIN VALLEY RE 1J,LYONS MIDDLE/SENIOR HIGH SCHOOL,48,45,554,538,1092,93.8,...,526,515,1041,100.0,46,529,502,1031,90.2,10
2755,SAT,0880,DENVER COUNTY 1,VENTURE PREP HIGH SCHOOL,21,20,466,428,894,95.2,...,377,397,774,100.0,52,430,418,848,100.0,-74
4494,SAT,0880,DENVER COUNTY 1,DENVER JUSTICE HIGH SCHOOL,21,19,403,399,803,90.5,...,371,373,744,85.7,19,377,380,757,73.1,-13
7922,SAT,0940,BIG SANDY 100J,SIMLA HIGH SCHOOL,23,20,506,500,1006,87.0,...,484,485,969,100.0,23,462,467,929,95.8,40
3468,SAT,1180,ROARING FORK RE-1,GLENWOOD SPRINGS HIGH SCHOOL,236,225,509,506,1015,95.3,...,475,471,946,98.3,241,476,477,952,94.9,-6
948,SAT,1750,BRANSON REORGANIZED 82,BRANSON SCHOOL ONLINE,44,32,522,474,996,72.7,...,499,446,945,70.5,37,490,448,938,82.2,7
1446,SAT,3090,WELD COUNTY SCHOOL DISTRICT RE-3J,WELD CENTRAL SENIOR HIGH SCHOOL,162,148,456,455,911,91.4,...,435,427,862,96.9,151,427,430,857,89.9,5

Experimenting with mapleton only

In [177]:
mapleton = schools_2018_agg_subset[schools_2018_agg_subset['District Name'] == 'MAPLETON 1']
mapleton = mapleton.reset_index()
mapleton

3,index,Test,District Number,District Name,School Number,School Name,Total Students,2018 Valid Scores,2018 EBRW Mean,2018 Math Mean,2018 Overall Mean Score,2018 Participation Percent,2017 Valid Scores,2017 EBRW Mean,2017 Math Mean,2017 Overall Mean Score,2017 Participation Percent,Mean Overall Score Change
0,555,SAT,0010,MAPLETON 1,0187,MAPLETON EXPEDITIONARY SCHOOL OF THE ARTS,112,99,472,467,939,88.4,72,481,466,946,98.6,-7
1,556,SAT,0010,MAPLETON 1,0212,MAPLETON EARLY COLLEGE HIGH SCHOOL,65,62,464,441,905,95.4,61,473,430,903,100.0,2
2,557,SAT,0010,MAPLETON 1,0263,GLOBAL LEADERSHIP ACADEMY,42,39,443,438,880,92.9,32,478,458,935,100.0,-55
3,558,SAT,0010,MAPLETON 1,0309,ACADEMY HIGH SCHOOL,109,107,452,434,886,98.2,99,463,453,916,98.0,-30
4,559,SAT,0010,MAPLETON 1,0503,YORK INTERNATIONAL,55,51,495,477,972,92.7,38,515,495,1010,100.0,-38
5,561,SAT,0010,MAPLETON 1,1796,COLORADO CONNECTIONS ACADEMY,264,181,500,462,962,68.6,152,517,484,1001,68.2,-39
6,1039,PSAT10,0010,MAPLETON 1,0187,MAPLETON EXPEDITIONARY SCHOOL OF THE ARTS,127,116,431,420,851,91.3,88,412,430,842,83.8,9
7,1040,PSAT10,0010,MAPLETON 1,0212,MAPLETON EARLY COLLEGE HIGH SCHOOL,61,59,430,410,840,96.7,60,409,409,818,96.8,22
8,1041,PSAT10,0010,MAPLETON 1,0263,GLOBAL LEADERSHIP ACADEMY,65,65,431,394,825,100.0,50,410,404,814,92.6,11
9,1042,PSAT10,0010,MAPLETON 1,0309,ACADEMY HIGH SCHOOL,124,121,407,398,805,97.6,117,411,417,828,96.7,-23
10,1043,PSAT10,0010,MAPLETON 1,0503,YORK INTERNATIONAL,78,73,439,434,873,93.6,62,466,444,910,91.2,-37
11,1044,PSAT10,0010,MAPLETON 1,0695,BIG PICTURE COLLEGE AND CAREER ACADEMY,59,56,435,422,857,94.9,34,441,429,870,97.1,-13
12,1045,PSAT10,0010,MAPLETON 1,1796,COLORADO CONNECTIONS ACADEMY,299,181,489,446,935,60.5,222,466,441,907,78.4,28

In [178]:
school_numbers = list(mapleton["School Number"].unique())
school_numbers

['0187', '0212', '0263', '0309', '0503', '1796', '0695']

In [179]:
mapleton = mapleton.set_index(['School Number', 'Test'])

In [180]:
mesaSAT = mapleton.loc[187,'SAT']
mesaPSAT = mapleton.loc[187,'PSAT10']

KeyError: 187

In [ ]:
mapleSAT = mapleton.loc[mapleton["Test"] == "SAT"]
maplePSAT = mapleton.loc[mapleton["Test"] == "PSAT10"]
mapleSAT

In [ ]:
mapleSAT[mapleSAT['School Number'] == 187]

In [ ]:
maplePSAT[maplePSAT['School Number'] == 187]

In [ ]:
maple_merge = mapleSAT.merge(maplePSAT, on="School Number", suffixes=(' SAT', ' PSAT10'))
maple_merge